/*Media Query for mobile phones*/
@media only screen and (min-width: 480px) {

}

/*Media Query for tablet*/
@media only screen and (min-width: 600px) {

}

/*Media Query for desktop*/
@media only screen and (min-width: 992px) {
ul{
  list-style-type: none;
  margin: 0;
  padding: 1em;
  background: #63b2f7;
}
}
#quote{
    font-size: 2.25em;
}