@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*Media Query for mobile phones*/

#navbar-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0064c2;
    display: inline-block;
    width: 100%;
}

#navbar-container ul li {
    float: left;
    position: relative;
    width: 33.33%;
}

#navbar-container ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 20px 20px;
    text-align: center;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar-container ul li a:hover {
    background-color: #63beff;
}

#navbar-container ul li a.active {
    background-color: #63beff;
    color: white;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0em;
}

.content {
    max-width: 1000px;
    margin: auto;
}

body {
    background-color: lightskyblue;
    font-size: 1.15em;
}

#homeinfo {
    font-size: 1.15em;
    margin: 1em;
}

#quote {
    font-size: 1em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin: 0.5em 0em;
}

#welcome {
    font-size: 1em;
    margin: 0.5px;
}

#questions {
    margin: 0.4em 0;
}

img {
    max-width: 100%;
    height: auto;
}

input {
    font-size: 1em;
    margin: 0.6em;
    color: black;
    width: 80%;
}

.inspirational {
    margin-left: auto;
}

.formEnter {
    justify-content: center;
    max-width: 1000px;
    margin: auto;
}

body {
    max-width: 1000px;
    margin: auto;
}


/*Media Query for tablet*/

@media only screen and (min-width: 600px) {
    #navbar-container ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #0064c2;
        display: inline-block;
        width: 100%;
    }
    #navbar-container ul li {
        float: left;
        position: relative;
        width: 33.33%;
    }
    #navbar-container ul li a {
        display: block;
        text-decoration: none;
        color: #fff;
        padding: 20px 20px;
        text-align: center;
        font-size: 2em;
        font-family: Arial, Helvetica, sans-serif;
    }
    #navbar-container ul li a:hover {
        background-color: #63beff;
    }
    #navbar-container ul li a.active {
        background-color: #63beff;
        color: white;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    body {
        max-width: 1000px;
        margin: auto;
        font-family: 'Montserrat', sans-serif;
    }
    /*Media Query for desktop*/
    @media only screen and (min-width: 992px) {
        #navbar-container ul {
            list-style-type: none;
            margin: 0em;
            padding: 0em;
            overflow: hidden;
            background-color: #0064c2;
            display: inline-block;
            width: 100%;
        }
        #navbar-container ul li {
            float: left;
            position: relative;
            width: 33.33%;
        }
        #navbar-container ul li a {
            display: block;
            text-decoration: none;
            color: #fff;
            padding: 20px 20px;
            text-align: center;
            font-size: 2em;
            font-family: Arial, Helvetica, sans-serif;
        }
        #navbar-container ul li a:hover {
            background-color: #63beff;
        }
        #navbar-container ul li a.active {
            background-color: #63beff;
            color: white;
        }
        #quote {
            font-size: 1.5em;
        }
        #welcome {
            font-size: 1.5em;
        }
        .inspirational {
            text-align: center;
        }
        img {
            max-width: 100%;
            display: block;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
        body {
            max-width: 1000px;
            margin: auto;
        }
    }
}