/*Media Query for mobile phones*/
@media only screen and (min-width: 480px) {
    #navbar-container ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #0064c2;
        display: inline-block;
        width: 100%;
      }
      
      #navbar-container ul li {
        float: left;
        position: relative;
        width: 33.33%;
      }
      
      #navbar-container ul li a {
        display: block;
        text-decoration: none;
        color: #fff;
        padding: 20px 20px;
        text-align: center;
        font-size: 2em;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      #navbar-container ul li a:hover {
        background-color: #63beff;
      }
      
      #navbar-container ul li a.active {
        background-color: #63beff;
        color: white;
      }

      h3{
        font-size: 2.25em;
        font-weight: bold;
        margin: 0.5em 0em;
      }

      .content{
        max-width: 1000px;
        margin: auto;
      }

      body{
        background-color: lightskyblue;
        font-size: 1.2em;
      }
      #homeinfo{
          font-size: 2em;

      
}

/*Media Query for tablet*/
@media only screen and (min-width: 600px) {

}

/*Media Query for desktop*/
@media only screen and (min-width: 992px) {

}

#quote{
    font-size: 2.25em;
}
#welcome{
    font-size: 2.25em;
}
